.b-article_set{
  display: flex;

  justify-content: flex-start;
  flex-flow: row wrap;
  max-width: 80%;
  margin: 25px auto;
}
.b-article__link{
  width: 400px;
  height: 200px;
  margin: 10px;

}

.b-article{
  display: block;
  border:1px solid #0cb2ff;
  width: 400px;
  height: 200px;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 2%;
  transition: background-size 0.5s ease-in;
}

.b-article__content{
  display: block;
  position: relative;
  height: 200px;
  background-color: rgba(10,50,150, 0);
  transition: background-color 0.5s ease-in;
}

.b-article__content:hover{
  background-color: rgba(10,50,150, 0.8);
}

.v_center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.b-article__caption{
  display: block;
  font-size: 24px;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #fefefe;
  font-weight: 500;
  text-shadow: #777777 1px 1px 0, #111 0 0 1px;

}
.b-article__lead{
  display: block;
  font-size: 14px;
  margin-top: 10px;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #ddd;

}

.b-article:hover{
  background-size: 120%;
}