.b-cslider{
  width: 600px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.b-cslider__content{
  margin-top: 400px;
  font-size: 14px;
}
.b-cslider__body{
  font-size: 14px;
}