.b-field{
  display: block;
  position: relative;
  clear: both;
  overflow: hidden;
}

//caver
.b-field_caver{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  height: 100vh;
}
.b-field_caver__caption{
  display: block;
  position: absolute;
  color: #F7F7F7;
  font-size: 60px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px black;
}

//only-text
.b-field_onlytext{
}
.b-field_onlytext__body{
  line-height: 36px;
  padding: 40px 0 40px 0;
}

// card
.b-field_card{
  border-top: 1px solid #0cb2ff;
  border-bottom: 1px solid #0cb2ff ;
  padding: 50px 0 50px 0;
}

.b-field_card__caver-pict{
  display: block;
  width: 200px;
  float: left;
}
  .b-field_card__caver-pict img{
    border-radius: 50%;
  }
  .b-field_card__caver-pict .b_field_card__caption{
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
  }
  .b-field_card__caver-pict .b-field_card__lead{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    color: #999999;
  }

.b-field_card__body{
  display: block;
  width: 600px;
  margin: 0 0 0 300px;
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  line-height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//set_of_cards

.b-field_set-of-cards{
  width: 600px;
  float: left;
}
.b-field_set-of-cards__caver-pict{
  display: block;
  width: 200px;
  float: left;
}
.b-field_set-of-cards__caver-pict img{
  border-radius: 50%;
  box-shadow: #777 1px 1px 3px;
  border: 1px solid #fff;
}
.b-field_set-of-cards__content{
  width: 360px;
  float: left;
  padding-left: 10px;
  padding-top: 80px;
}
.b_field_set-of-cards__caption{
  font-size: 20px;
  font-weight: 400;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.b-field_set-of-cards__lead{
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #777;
}
.b-field_set-of-cards__body{
  line-height: 30px;
}
