.b-field{
  display: block;
  position: relative;
  clear: both;
  overflow: hidden;
}

//caver
.b-field_caver{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  height: 100vh;
}
.b-field_caver__caption{
  display: block;
  position: absolute;
  color: #F7F7F7;
  font-size: 60px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px black;
}

//only-text
.b-field_onlytext{
  max-width: 800px ;
  margin: 0 auto;
}
.b-field_onlytext__body{
  line-height: 36px;
  padding: 40px 0 40px 0;
}