
@import "mixin/flexbox";

.swiper-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-color: #dddddd;
}
.swiper-slide {
  //text-align: center;
  //font-size: 18px;

  /* Center slide text vertically */
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
}
.swiper-slide.swiper-slide_important{
  //@include flex-shrink(1);
}