= render 'fields/menu', field: field
.l-field.l-field_slider

.swiper-container
  .swiper-wrapper
    - field.cards.each do |card|
      .swiper-slide.swiper-slide_important #{ render 'cards/cslider', card: card if field.cards[0]}

  <!-- If we need pagination -->
  -#.swiper-pagination

  <!-- If we need navigation buttons -->
  .swiper-button-prev
  .swiper-button-next
  <!-- If we need scrollbar -->
  -#.swiper-scrollbar

:javascript
    var mySwiper = new Swiper ('.swiper-container', {
      pagination: '.swiper-pagination',
      slidesPerView: 3,
      paginationClickable: true,
      spaceBetween: 20,
      freeMode: true,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
  })
